<h1>Edit your race below:</h1>
<form action ="/races/<%=@race.slug%>/<%=@race.id%>" method="POST">
    <input id="hidden" type="hidden" name="_method" value="PATCH">
    <label for ="name">Name of Race:</label>
        <input type = "text" name="name" value="<%=@race.name%>"><br>
    <label for="distance">Distance:</label>
        <select name="distance" id="distance">
            <%Race.all.select(:distance).uniq.each do |race|%>
                <%if @race.distance == race.distance%>
                    <option value="<%=race.distance%>" selected><%=@race.distance%></option>
                <%else%>
                    <option value="<%=race.distance%>"><%=race.distance%></option>
                <%end%>
            <%end%>
        </select><br>
    <label for="date">Date:</label>
        <input type="date" name="date" value="<%=@race.date%>" pattern="\d{4}-[0-1][0-9]-[0-3][0-9]" placeholder="yyyy-mm-dd"><br>
    <label for="location">Location:</label>
        <input type = "text" name="location" value="<%=@race.location%>"><br>
    <label for="finish_time">Finish Time:</label>
        <input type="text" pattern="\d{2}:[012345][0-9]:[012345][0-9]" name ="finish_time" value="<%=@race.finish_time%>" placeholder="hh:mm:ss"><br>
    <label for="pace">Pace per Mile:</label>
        <input type="text" pattern="[012345][0-9]:[012345][0-9]" name ="pace" value="<%=@race.pace%>" placeholder="mm:ss"><br><br>
    <input class="new" type="submit" value="Update Race"><br><br>
    </form>
    <form action ="/races/<%=@race.id%>/delete" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <input class="delete" type="submit" value="Delete Race">
    </form>
