<h1><%=current_user.name%>'s Marathons:</h1>
<table style="width:100%" border ="1px">
  <tr>
    <th>Name</th>
    <th>Location</th>
    <th>Distance</th>
    <th>Finish Time</th>
    <th>Pace</th>
    <th>Edit</th>
  </tr>
    <%current_user.races.all.each do |race|%>
    <tr>
    <%if race.distance == "Marathon"%>
    <td><%=race.name%></td>
    <td><%=race.location%></td>
    <td><%=race.distance%></td>
    <td><%=race.finish_time%></td>
    <td><%=race.pace%></td>
    <td><a href="/races/<%=race.slug%>/edit">Edit</a></td>
    </tr>
    <%end%>
    <%end%>
</table>
<a href="/users/<%=current_user.slug%>">Back to Profile Page</a>