<h1 style="font-variant: small-caps; text-align: center">Welcome <%=current_user.name%>!</h1>

<div id="home-stats">
    <div><h2 style="text-align: center; font-variant: small-caps;">My Racing Dashboard</h2></div>
</div>
<div class="container">
    
    <div id="fivek">
        <%if current_user.fivek != []%>
        <p class="dashboard"><a href="/races/5k">5k</a></p><br>
        <li style="text-align: center; text-decoration: overline; font-weight: bold">Total Races:</li>
        <li style="text-align: center"><%=current_user.fivek.count%></li><br>
        <li style="text-align: center; text-decoration: overline; font-weight: bold">Total Miles:</li>
        <li style="text-align: center"><%=current_user.fivek.count * 3.1%></li><br>
        <li style="text-align: center; text-decoration: overline; font-weight: bold">Fastest Race:</li>
        <li style="text-align: center"><%=current_user.fastest_fivek.name%></li><br>
        <li style="text-align: center; text-decoration: overline; font-weight: bold">Fastest Time:</li>
        <li style="text-align: center"><%=current_user.fastest_fivek.finish_time%></li>
        <%else%>
        <p class="dashboard"><a href="/races/5k">5k</a></p><br>
        <li style="text-align: center; text-decoration: overline; font-weight: bold">Total Races:</li>
        <li style="text-align: center">0</li><br>
        <li style="text-align: center; text-decoration: overline; font-weight: bold">Total Miles:</li>
        <li style="text-align: center">0</li><br>
        <li style="text-align: center; text-decoration: overline; font-weight: bold">Fastest Race:</li>
        <li style="text-align: center">No races yet</li><br>
        <li style="text-align: center; text-decoration: overline; font-weight: bold">Fastest Time:</li>
        <li style="text-align: center">No races yet</li>
        <%end%>
    </div>
    <div id="tenk">
        <%if current_user.tenk != []%>
        <p class="dashboard"><a href="/races/10k">10k</a></p><br>
        <li style="text-align: center; text-decoration: overline; font-weight: bold">Total Races:</li>
        <li style="text-align: center"><%=current_user.tenk.count%></li><br>
        <li style="text-align: center; text-decoration: overline; font-weight: bold">Total Miles:</li>
        <li style="text-align: center"><%=current_user.tenk.count * 6.2%></li><br>
        <li style="text-align: center; text-decoration: overline; font-weight: bold">Fastest Race:</li>
        <li style="text-align: center"><%=current_user.fastest_tenk.name%></li><br>
        <li style="text-align: center; text-decoration: overline; font-weight: bold">Fastest Time:</li>
        <li style="text-align: center"><%=current_user.fastest_tenk.finish_time%></li>
        <%else%>
        <p class="dashboard"><a href="/races/10k">10k</a></p><br>
        <li style="text-align: center; text-decoration: overline; font-weight: bold">Total Races:</li>
        <li style="text-align: center">0</li><br>
        <li style="text-align: center; text-decoration: overline; font-weight: bold">Total Miles:</li>
        <li style="text-align: center">0</li><br>
        <li style="text-align: center; text-decoration: overline; font-weight: bold">Fastest Race:</li>
        <li style="text-align: center">No races yet</li><br>
        <li style="text-align: center; text-decoration: overline; font-weight: bold">Fastest Time:</li>
        <li style="text-align: center">No races yet</li>
        <%end%>
    </div>
    <div id="Half-Marathon">
         <%if current_user.half_marathon != []%>
        <p class="dashboard"><a href="/races/Half-Marathon">Half-Marathon</a></p><br>
        <li style="text-align: center; text-decoration: overline; font-weight: bold">Total Races:</li>
        <li style="text-align: center"><%=current_user.half_marathon.count%></li><br>
        <li style="text-align: center; text-decoration: overline; font-weight: bold">Total Miles:</li>
        <li style="text-align: center"><%=current_user.half_marathon.count * 13.1%></li><br>
        <li style="text-align: center; text-decoration: overline; font-weight: bold">Fastest Race:</li>
        <li style="text-align: center"><%=current_user.fastest_half_marathon.name%></li><br>
        <li style="text-align: center; text-decoration: overline; font-weight: bold">Fastest Time:</li>
        <li style="text-align: center"><%=current_user.fastest_half_marathon.finish_time%></li>
        <%else%>
        <p class="dashboard"><a href="/races/Half-Marathon">Half-Marathon</a></p><br>
        <li style="text-align: center; text-decoration: overline; font-weight: bold">Total Races:</li>
        <li style="text-align: center">0</li><br>
        <li style="text-align: center; text-decoration: overline; font-weight: bold">Total Miles:</li>
        <li style="text-align: center">0</li><br>
        <li style="text-align: center; text-decoration: overline; font-weight: bold">Fastest Race:</li>
        <li style="text-align: center">No races yet</li><br>
        <li style="text-align: center; text-decoration: overline; font-weight: bold">Fastest Time:</li>
        <li style="text-align: center">No races yet</li>
        <%end%>        
    </div>
    <div id="Marathon">
        <%if current_user.marathon != []%>
        <p class="dashboard"><a href="/races/Marathon">Marathon</a></p><br>
        <li style="text-align: center; text-decoration: overline; font-weight: bold">Total Races:</li>
        <li style="text-align: center"><%=current_user.marathon.count%></li><br>
        <li style="text-align: center; text-decoration: overline; font-weight: bold">Total Miles:</li>
        <li style="text-align: center"><%=current_user.marathon.count * 26.2%></li><br>
        <li style="text-align: center; text-decoration: overline; font-weight: bold">Fastest Race:</li>
        <li style="text-align: center"><%=current_user.fastest_marathon.name%></li><br>
        <li style="text-align: center; text-decoration: overline; font-weight: bold">Fastest Time:</li>
        <li style="text-align: center"><%=current_user.fastest_marathon.finish_time%></li>
        <%else%>
        <p class="dashboard"><a href="/races/Marathon">Marathon</a></p><br>
        <li style="text-align: center; text-decoration: overline; font-weight: bold">Total Races:</li>
        <li style="text-align: center">0</li><br>
        <li style="text-align: center; text-decoration: overline; font-weight: bold">Total Miles:</li>
        <li style="text-align: center">0</li><br>
        <li style="text-align: center; text-decoration: overline; font-weight: bold">Fastest Race:</li>
        <li style="text-align: center">No races yet</li><br>
        <li style="text-align: center; text-decoration: overline; font-weight: bold">Fastest Time:</li>
        <li style="text-align: center">No races yet</li>
        <%end%>  
    </div>
    
</div><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>